@import '@compromis/blobby/scss/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

:root {
  --primary: #EA552F;
  --blue: #254393;
  --yellow: #F6B225;
  --max-width: 900px;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
  --text-xl: 2rem;
  --text-2xl: 3rem;
  --text-3xl: 4rem;
}

html,
body {
  background-color: var(--primary);
  color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 14rem;
}

.card {
  --card-padding: 1.5rem;
  background: var(--white);
  color: var(--text-color);
  padding: var(--card-padding);
  max-width: var(--max-width);
}

a {
  &:focus {
    box-shadow: 0 !important;
    outline: 3px #ffcd68 solid;
    outline-offset: 3px;
  }
}

.nav-menu {
  margin-left: 0;
}

.basic-nav .nav-menu-item {
  font-weight: bold;
}

.button-primary {
  background: var(--primary);
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.5s ease;
  overflow: hidden;
  max-height: 100vh;
}

.slide-enter-from,
.slide-leave-to {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

@include media-breakpoint-down(md) { 
  :root {
    --text-md: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;
    --text-3xl: 3.25rem;
  }

  html,
  body {
    font-size: .95rem;
  }

  .card {
    --card-padding: 1.25rem;
  }
}